/** { margin: 0; !*padding: 0;*! !*outline: 0;*! }*/
html, body { margin: 0; font-family: sans-serif; background: #eeeeee; padding: 1rem; }
/*
h1 {max-width: 2400px; font-family: serif; color: #377ba8; margin: 1rem 0; }
.content {!*margin: 0;*! max-width: 2400px; position: absolute; left: 5%; width: 90%; border: 1px solid darkgray; height: 90%;  }
*/
h1 {max-width: 2400px; font-family: serif; color: #377ba8; margin: 1rem 0; }
.content {max-width: 2400px; position: absolute; left: 5%; width: 90%; border: 1px solid darkgray; height: 85%; ; font-size: 1.5vw }
.content input { height: 10%;  width: 20%; font-size: 1.5vw; color: black; background-color: #eeeeee; border-color: black;}

#ein {height: 12%; font-size: 3vw; width: 35%;}
#einregen {height: 12%; font-size: 3vw; width: 10%;}
#einauto {height: 12%; font-size: 3vw; width: 35%;}
#einrasen {height: 12%; font-size: 3vw; width: 10%;}
#countdown {position: absolute; left: 80%; top: 0%; height: 12%; font-size: 3vw; width: 10%;}

#plaetze {color: #377ba8; background-color: #eeeeee;  border-collapse: collapse; border: 0px solid #eeeeee; font-size: 1.5vw;
          position: absolute; left: 0%; top: 15%; height: 25%; width: 35%;}
#fehler{  position: absolute; left: 55%;  top: 30%; height: 50%; width: 100%; font-size: 1.5vw; color: red;}
#wrap1 {  position: absolute; left: 2%;  top: 25%; height: 100%; width: 100%;}
#wrap2 {  position: absolute; left: 22%; top: 25%; height: 100%; width: 100%;}
#wrap3 {  position: absolute; left: 50%; top: 25%; height: 100%; width: 100%;}
#wrap4 {  position: absolute; left: 70%; top: 25%; height: 100%; width: 100%;}
#wrap5 {  position: absolute; left: 2%;  top: 56%; height: 100%; width: 100%;}
#wrap6 {  position: absolute; left: 2%;  top: 0%;  height: 50%;  width: 100%;}

#wrap7 {  position: absolute; left: 50%; top: 70%; height: 50%;  width: 100%;}
#wrap8 {  position: absolute; left: 2%;  top: 12%;  height: 50%;  width: 100%;}

#wrap9 {  position: absolute; left: 22%;  top: 56%; height: 100%; width: 100%;}

#help  {  position: absolute; left: 29%; top: 96%; height: 100%; width: 100%;}

