{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
        <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="/static/socket.io.js" crossorigin="anonymous"></script>
   		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  		<script src="{{ url_for("static", filename="socketRegen.js") }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
{% endblock %}

{% block content %}
  <form action="" method="POST" m>
      <div id="wrap6">
   Beregnungszeiten für automatischen Betrieb - Dauer einer Platzberegnung (1 - 10min)<br>
      <input type="text" id="ein" name=autozeit value="{{ autozeit }}"> <input type="text" id="einregen" name=regenzeit value="{{ regenzeit }}">
          <input type="submit" id="los" value="Abschicken"> <div id="countdown">noch ...</div>
          <div id = "fehler">Fehler .... </div><br>
        </div>

      <div id="wrap8">
   Beregnungszeiten für den Rasen - Dauer einer Beregnung (1 - 100min)<br>
      <input type="text" id="einauto" name=autorasen value="{{ autorasen }}"> <input type="text" id="einrasen" name=rasenzeit value="{{ rasenzeit }}">
        </div>


       <div id="wrap1">
      <input type="submit" name="platz2" id=1  value="Platz 2" > <br>
      <input type="submit" name="platz1" id=0  value="Platz 1" > <br>
            </div>
      <div id="wrap2">
      <input type="submit" name="platz4" id=3  value="Platz 4" > <br>
      <input type="submit" name="platz3" id=2  value="Platz 3" > <br>
           </div>
       <div id="wrap3">
      <input type="submit" name="platz7" id=6  value="Platz 7" > <br>
      <input type="submit" name="platz6" id=5  value="Platz 6" > <br>
      <input type="submit" name="platz5" id=4  value="Platz 5" > <br>
       </div>
      <div id="wrap4">
      <input type="submit" name="platz10" id=9  value="Platz 10" > <br>
      <input type="submit" name="platz9" id=8  value="Platz 9" > <br>
      <input type="submit" name="platz8" id=7  value="Platz 8" > <br>
       </div>
     <div id="wrap5">
      <input type="submit" name="rundlauf" id=11  value="Rundlauf" > <br>
      <input type="submit" name="sperre1_4" id=12  value="Sperre1_4" > <br>
      <input type="submit" name="sperre5_10" id=13  value="Sperre5_10" > <br>
      <input type="submit" name="sperre" id="14"  value="Sperre Automatik"  > <br>
        </div>

      <div id="wrap9">
      <input type="submit" name="rundrasen" id=16  value="Rasen Rundlauf" > <br>
      <input type="submit" name="rasen1" id=17  value="Rasen 1" > <br>
      <input type="submit" name="rasen2" id=18  value="Rasen 2" > <br>
      <input type="submit" name="rasen3" id="19"  value="Rasen 3"  > <br>
        </div>

      <div id="wrap7">
      <input type="submit" name="eingabsperre" id=15  value="Eingabe Sperre" > <input type="submit" name="tvkaus" id=20  value="TVK aus" > <br>
          <table id="plaetze" border="0" >
            <tr>
              <td > Platz 2</td>
              <td > Platz 4</td>
              <td bgcolor="#eeeeee">   </td>
              <td > Platz 7</td>
              <td> Platz 10</td>
            </tr>
            <tr>
              <td > Platz 1</td>
              <td > Platz 3</td>
              <td  bgcolor="#eeeeee">   </td>
              <td > Platz 6</td>
              <td> Platz  9</td>
            </tr>
            <tr>
              <td bgcolor="#eeeeee" >   </td>
              <td bgcolor="#eeeeee" >   </td>
              <td bgcolor="#eeeeee" >   </td>
              <td > Platz 5</td>
              <td> Platz  8</td>
            </tr>
          </table>
         </div>
  </form>
{#    <div id = "help">Zeiten ....#}
{#    </div>#}
{% endblock %}
