<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feuchte Regen</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fotoStyles.css') }}">

</head>
<body>
<br>
<div id="navigation">
    <h3>Navigation</h3>
<ul>
    <li><a href="regen_feuchte">Regen/Feuchte</a></li>
	<li><a href="index">Rohdaten</a></li>
</ul>

<br>

    <h2>Die Auswahl bitte:</h2>

<form action="" method="POST">
   Startzeit <br><input type="number" min="1900" max="3000" size="7" margin=2px name=startJahr value="{{ startJahr }}"> Jahr
    <br><input type="number" min="1" max="12" size="7" margin=2px name=startMonat value="{{ startMonat }}"> Monat
   <br> <input type="number" min="1" max="31" size="7" margin=2px name=startTag value="{{ startTag }}"> Tag
   <br> <input type="number" min="0" max="23" size="7" margin=2px name=startStunde value="{{ startStunde }}"> Stunde
    <br>
    <br>

   Endezeit <br><input type="number" min="1900" max="3000"  size="7" margin=2px name=endeJahr value="{{ endeJahr }}"> Jahr
   <br><input type="number" min="1" max="12" size="7" margin=2px name=endeMonat value="{{ endeMonat }}"> Monat
   <br><input type="number" min="1" max="31" size="7" margin=2px name=endeTag value="{{ endeTag }}"> Tag
   <br><input type="number" min="0" max="23" size="7" margin=2px name=endeStunde value="{{ endeStunde }}"> Stunde
    <br>
    <br>
        <input class="button1" type="submit" value="Select"> <br>

    <br>Auflösung<br> <input type="number" min="1" max="1000" size="7" margin=2px name=aufloes value="{{ aufloes }}"> Stunden
    <br>Skala<br> <input type="number" min="1" max="1000" size="7" margin=2px name=skala value="{{ skala }}"> mm

</form>
</div>

<div id="centerDoc">
    <h1>Feuchte und Regen über das Web</h1>
    <p>links auswählen, rechts kommt das Ergebnis:  </p>
    <img alt="Diagramm" src="/auswertung_diagramm"   style="width:800px;height:700px;">
    <br>
</div>

</body>
</html>